In [1]:
import pandas as pd
import numpy as np

from datetime import datetime,date
import holidays

#  produce all features for purpose of prediction

In [2]:
load_history_long = pd.read_csv('./data/load_history_long.csv')

In [3]:
load_history_long.head()

   zone_id  year  month  day  hour   load
0        1  2004      1    1     1  16853
1        1  2004      1    1     2  16450
2        1  2004      1    1     3  16517
3        1  2004      1    1     4  16873
4        1  2004      1    1     5  17064

In [4]:
load_history_long.shape

(792000, 6)

In [5]:
# take load data out of dataframe
load = load_history_long['load']
del load_history_long['load']

In [6]:
# check holiday
us_holidays = holidays.UnitedStates()

In [7]:
# create holiday and weekday feature
holiday = []
weekday = []
for i in xrange(load_history_long.shape[0]):
    thisdate = date(load_history_long['year'][i],load_history_long['month'][i], load_history_long['day'][i])
    isholiday = int(thisdate in us_holidays)
    holiday.append(isholiday)
    dayofweek = thisdate.weekday()+1
    weekday.append(dayofweek)

In [8]:
# add temperature per hour feature for all stations

In [9]:
temp_per_day = pd.read_csv('./data/temp_prediction.csv')

In [10]:
temp_per_day.head()

   year  month  day  hour   1   2   3   4   5   6   7   8   9  10  11
0  2004      1    1     1  46  38  44  45  42  44  45  43  41  42  36
1  2004      1    1     2  46  36  42  43  42  43  44  44  39  43  32
2  2004      1    1     3  45  35  40  41  40  42  41  42  36  43  31
3  2004      1    1     4  41  30  36  37  39  38  40  34  35  39  30
4  2004      1    1     5  39  30  34  33  40  38  35  30  33  35  34

In [11]:
temp_per_day.shape

(39432, 15)

In [12]:
# combine all features

In [13]:
load_history_long['holiday'] = holiday
load_history_long['weekday'] = weekday
load_history_long['load'] = load

In [14]:
load_history_long.head()
load_history_long.shape

(792000, 8)

In [15]:
result = pd.merge(load_history_long, temp_per_day, how='outer', on=['year','month','day','hour'])

In [16]:
# put load to the last column
load = result['load']
del result['load']
result['load'] = load

In [17]:
result

,zone_id,year,month,day,hour,holiday,weekday,1,2,3,4,5,6,7,8,9,10,11,load
0,1,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,16853
1,2,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,126259
2,3,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,136233
3,4,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,484
4,5,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,6829
5,6,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,133088
6,7,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,136233
7,8,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,3124
8,9,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,75243
9,10,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,23339
10,11,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,90700
11,12,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,118378
12,13,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,20673
13,14,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,21791
14,15,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,65970
15,16,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,28752
16,17,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,30645
17,18,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,200946
18,19,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,82298
19,20,2004,1,1,1,1,4,46,38,44,45,42,44,45,43,41,42,36,79830
20,1,2004,1,1,2,1,4,46,36,42,43,42,43,44,44,39,43,32,16450
21,2,2004,1,1,2,1,4,46,36,42,43,42,43,44,44,39,43,32,123313
22,3,2004,1,1,2,1,4,46,36,42,43,42,43,44,44,39,43,32,133055
23,4,2004,1,1,2,1,4,46,36,42,43,42,43,44,44,39,43,32,457
24,5,2004,1,1,2,1,4,46,36,42,43,42,43,44,44,39,43,32,6596
25,6,2004,1,1,2,1,4,46,36,42,43,42,43,44,44,39,43,32,129909
26,7,2004,1,1,2,1,4,46,36,42,43,42,43,44,44,39,43,32,133055
27,8,2004,1,1,2,1,4,46,36,42,43,42,43,44,44,39,43,32,2956
28,9,2004,1,1,2,1,4,46,36,42,43,42,43,44,44,39,43,32,67368
29,10,2004,1,1,2,1,4,46,36,42,43,42,43,44,44,39,43,32,22100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791970,11,2008,7,7,23,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791971,12,2008,7,7,23,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791972,13,2008,7,7,23,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791973,14,2008,7,7,23,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791974,15,2008,7,7,23,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791975,16,2008,7,7,23,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791976,17,2008,7,7,23,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791977,18,2008,7,7,23,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791978,19,2008,7,7,23,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791979,20,2008,7,7,23,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791980,1,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791981,2,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791982,3,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791983,4,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791984,5,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791985,6,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791986,7,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791987,8,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791988,9,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791989,10,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791990,11,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791991,12,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791992,13,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791993,14,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791994,15,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791995,16,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791996,17,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791997,18,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791998,19,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791999,20,2008,7,7,24,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
result.to_csv('./data/feature_data.csv', index=None)